input, textarea {
    font: 13px Verdana,sans-serif;
}
.forErrors {
    margin-top: 20px;
}
.half{
    display: inline;
    width: 32%;
    float: left;
    padding: 10px;
}
label{
    display: block;
}
textarea{
    width: 100%;
}
.outputParams{
    background: #E6FFA2;
    height: 400px;
    margin-top: 25px;
}
.inputParams{
    background: rgb(70%,90%,70%);
    height: 410px;
}
.inputExistingParams{
    background: rgb(70%,70%,90%);
    height: 410px;
}
.warning {
    background: #e54;
    color: #fff;
    font: 1em/2 Verdana, sans-serif;
}
.modal{
    display: none;
    width: 100%;
    background: url(bg.png) repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.innerModal{
    width: 60%;
    background: #fff;
    z-index: 5;
    margin: 10% 15%;
    border: 1px solid #f11;
    padding: 5px;
}
.modal {
    position: fixed;
}
.display {
    display: block;
}
.hide {
    display: none;
}
.warnHeader {
    width: 100%;
    height: 2em;
    color: #fff;
}
.warnHeader span{
    font: bold 18px Arial, Verdana, sans-serif;
    color: #f33;
    float: right;
    cursor: pointer;
    padding: 8px 10px 0 0;
}
#getNames{
    width: 100%;
    background: #FFBC2F;
    padding: 5px;
    font: 14px Calibri, Verdana, sans-serif;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}
label {
    font: 14px Calibri, Verdana, sans-serif;
}
.theDepestModal {
    height: 500px;
    overflow-y: scroll;
}